/*@media all and (min-width: 50px)   {  body  { font-size:0.1em;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.2em;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.4em;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 400px)  {  body  { font-size:0.8em;  } }
@media all and (min-width: 500px)  {  body  { font-size:1.0em;  } }
@media all and (min-width: 600px)  {  body  { font-size:1.2em;  } }
@media all and (min-width: 700px)  {  body  { font-size:1.4em;  } }
@media all and (min-width: 800px)  {  body  { font-size:1.6em;  } }
@media all and (min-width: 900px)  {  body  { font-size:1.8em;  } }
@media all and (min-width: 1000px) {  body  { font-size:2.0em;  } }
@media all and (min-width: 1100px) {  body  { font-size:2.2em;  } }
@media all and (min-width: 1200px) {  body  { font-size:2.4em;  } }
@media all and (min-width: 1300px) {  body  { font-size:2.6em;  } }
@media all and (min-width: 1400px) {  body  { font-size:2.8em;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.0em;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.2em;  } }
@media all and (min-width: 1600px) {  body  { font-size:3.4em;  } }
@media all and (min-width: 1700px) {  body  { font-size:3.6em;  } }*/




body, main, h1, p {
  font-family: sans-serif;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: -3.1px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #46262c;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #941e00;
  height: 25px;
  width: 34px;
  border-radius: 28px;
  background: rgba(255, 55, 56, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 3.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #64363f;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #46262c;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #941e00;
  height: 25px;
  width: 34px;
  border-radius: 28px;
  background: rgba(255, 55, 56, 0.93);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #281619;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #46262c;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #941e00;
  width: 34px;
  border-radius: 28px;
  background: rgba(255, 55, 56, 0.93);
  cursor: pointer;
  height: 25px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #46262c;
}
input[type=range]:focus::-ms-fill-upper {
  background: #64363f;
}

output {
  display: inline-block;
  position: relative;
  width: 25px;
  min-width: 25px;
  color: rgba(255, 55, 56, 0.93);
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #46262c;
  padding: 5px 10px;
  margin-left: 8px;

}

output:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid  #46262c;
  border-bottom: 7px solid transparent;
  content: '';
}

.range {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  /*min-width: 700px;*/
}

.label {
  min-width: 280px;
  text-align: right;
  margin-right: 2px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#canvas {
  margin: 0 auto;
  display: flex;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 5px;
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  min-width: 200px;
}
